html,
body {
  background: #f2efe5;
  width: 393px;
  height: 777px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0;
  padding: 0;
}

/* form  */
/* .home,
.barcode,
.map,
.search,
.user,
.user-edit,
.chatting-list,
.cart-page,
.item,
.store {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f2f2f2;
} */
